            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="site-title-wrapper">
                <h1 class="site-title">
                    <a class="js-ajax-link" title="{{ site.data.global.siteTitle }}" href="/">{{ site.data.global.siteTitle }}</a>
                </h1>

                <a class="button-square button-jump-top js-jump-top" href="#"><i class="fa fa-angle-up"></i></a>
            </div>

            <p class="footer-copyright">&copy; {{ site.time | date: '%Y' }} <a href="https://linesandwaves.com">Linesandwaves</a></p>
        </div>
    </footer>

</body>
</html>
